@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
:root {
  --mainBrown: #e6bb10;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Noto Sans TC", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.brand-logo {
  color: var(--mainYellow);
  font-size: 1.3rem;
}
.brand-logo:hover {
  text-decoration: none;
}
.facebook-logo {
  font-size: 1.6rem;
  margin-top: 0.4rem;
  color: var(--mainDark);
}
.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainWhite);
}
.footer {
  background: var(--mainYellow);
}
.footer h3 {
  color: var(--mainGrey);
  font-size: 1rem;
}
.featured-section {
  background: var(--mainGrey);
}
.img-center {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
.single-product {
  width: 90vw;
  max-width: 1170px;
  margin: 6rem auto;
}
.single-title {
  margin-top: 3rem;
}
.single-page {
  height: 80vh;
}

@media screen and (min-width: 768px) {
  .single-product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
