@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
:root {
  --mainBrown: #e6bb10;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Noto Sans TC", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.brand-logo {
  color: var(--mainYellow);
  font-size: 1.3rem;
}
.brand-logo:hover {
  text-decoration: none;
}
